{% load static %}
<!DOCTYPE html>

<html>


	<head>
	
		<meta charset="UTF-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    	<title>Próxima Nota</title>

   		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{% static '/css/cssPaginaprincipal.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<style>
			.container-1 {
				display: flex;
				align-items: center;
				justify-content: center;
				align-items: flex-start;
			}
		</style>

        <script>
                    
            function toca_som_teclado(possibilidade) {
                var nota = document.getElementById(possibilidade)
                nota.play();
                if (nota.onclick !== true){
                    nota.currentTime = 0;
                }
                
            }

            function toca_som_timeline(possibilidade, checkboxElem) {
                var nota = document.getElementById(possibilidade)

            
                 if (checkboxElem.checked) {
                     nota.play()

                    if (nota.onclick !== true){
                    nota.currentTime = 0;
                }
                }    
            }

            var notesUsed = {{notesUsed|safe}}
            notesUsed.sort();

            var audioArray = [ "C8", "C7", "C6" ];

            console.log(notesUsed)

            function play_music(notas_usadas){
                for (let nota of notesUsed) { 
                    nota = nota.substring(0,2)
                    console.log(nota)
                } 
            }
            

            var tempo =  notesUsed[0].substring(3)
           
            function toca_acorde(){
               
                var nota0 = notesUsed[0].substring(0,2)
                var nota_usada2 = document.getElementById(nota0)
                /*for (let i = 0; i< 15; i ++){
                    if (notesUsed[i].charAt(1) == "b"){
                        var nota_usada2 = document.getElementById(notesUsed[i].substring(0,3))
                        console.log(notesUsed[i])
                    }
                    else {
                        var nota_usada2 = document.getElementById(notesUsed[i].substring(0,2))
                        console.log(notesUsed[i])
                    }*/
                    
                    nota_usada2.play()
                    index=1;
                    nota_usada2.onended = function() {
                        if(index < notesUsed.length){
                            nota_usada2 = document.getElementById(notesUsed[index].substring(0,2))
                            console.log(notesUsed[index])
                        
                            nota_usada2.play();
                            console.log(index)  
                            index ++;
                        }
                    };
                
                /*
                var nota1 = new Audio("/static/tecla_sons/C4.mp3")
                //nota1.play()
                var nota2 = new Audio("/static/tecla_sons/D4.mp3")
                //nota2.play()
                var nota3 = new Audio("/static/tecla_sons/E4.mp3")
                //nota3.play()
                var nota4 = document.getElementById('D4')
                var nota5 = document.getElementById('E4')
                var musica = [nota1, nota2, nota3]
                */
               /*
                var audionameslist = '/static/tecla_sons/C4.mp3,/static/tecla_sons/D4.mp3,/static/tecla_sons/E4.mp3';
                var audionamesarray = audionameslist.split(',');
                var audio = new Audio(audionamesarray[0]);
                    
                audio.src=audionamesarray[0];
                audio.play();
                index=1;
                audio.onended = function() {
                    if(index < audionamesarray.length){
                        audio.src=audionamesarray[index];
                        audio.play();

                        index++;
                    }
                };*/
                
            }
                 
            

            function toca_musica(possibilidade, tempo){
                var notaChecada = document.getElementById(possibilidade + tempo)

                if (notaChecada.checked){
                    console.log(notaChecada)
                }
            }

                                 
            
        </script>
	
	</head>


    <body>
		<div class="main-container">

		
        <div id="cabecalho"> <!-- Cabeçalho -->
			
			<!--<div id="botoes"> -->
				
				<button type="button" id="botao_login">LOGIN</button>

				<button type="button" id="botao_play" class="click">
					<img src="{% static  'images/playIcon.png' %}"  id ="play_fundo" width="50" height="60" onclick="toca_acorde()">
				</button>

				<button type="button" id="botao_pause">
					<img src="{% static  'images/pauseIcon.png' %}" id="pause_fundo"  width="20" height="30">
				</button>

				<button type="button" id="botao_stop">
					<img src="{% static  'images/stopIcon.png' %}" id="stop_fundo" width="20" height="30">
				</button>
				
			<!--</div -->
			
		</div>

		<div id="piano"> <!--Piano-->
           
                {% for oitava in possibilidades_com_oitavas %}
                    {% for possibilidade in oitava %}
                    <audio id="{{possibilidade}}" src="/static/tecla_sons/{{possibilidade}}.mp3" ></audio>
                        {% if "b" in possibilidade %}
                            <div class="tecla_preta" onclick="toca_som_teclado('{{possibilidade}}')">
                                <div class="texto_teclaP" onclick="toca_som_teclado('{{possibilidade}}')">{{possibilidade}}</div>
                            </div>
                        {% else %}
                            <div class="tecla_branca" onclick="toca_som_teclado('{{possibilidade}}')">
                                <div class="texto_teclaB" onclick="toca_som_teclado('{{possibilidade}}')">{{possibilidade}}</div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
               
			
			
				
		</div>

		<div class="piano_roll"> <!--Piano roll -->
			
			<table id="myTable">
                <form action="" method="post">
                    {% csrf_token %}
                    {% for possibilidade_com_oitava in possibilidades_com_oitavas %}
					{% for possibilidade in possibilidade_com_oitava %}
					<tr>
						{% for tempo in tempos %}
						<th>
							<label class="switch">
								
								<input type="checkbox" value="{{possibilidade}}-{{tempo}}" id="{{possibilidade}}{{tempo}}" name="notes"onchange="toca_som_timeline('{{possibilidade}}', this)" >
								<span class="slider"> </span>
								
							</label>
						</th>
						{% endfor %}
					</tr>
					{% endfor %}
				{% endfor %}
                <button type="submit">Submit</button>
                <form method="post" >
			
			</table>

		</div>

		
		<div id="rodape"> <!--Rodapé-->
			<div id='area_sugestoes'>
				
				<h2 id='titulo_sugestao'>SUGESTÕES</h2>
				<hr class='linha_sugestao'>


				<button type="button" id='sugestao1' >TESTE</button>

				<button type="button" id='sugestao2' >TESTE</button>
	
				<button type="button" id='sugestao3' >TESTE</button>

			</div>
			
		</div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
		<script type = "text/javascript">  
		</script>  
	
    </body>





</html>