  * {
    
    background-color: #15ff00;
    font-family: "Trebuchet MS";
    padding: 0;
    margin: 0;
    
  }

  a { 

    font-size: 15px;

  }

  body{
    height: 2860px;
  }


  /* Cabeçalho */

  #cabecalho {
    
    width: 100%;
    height: 140px;
    border: 0px solid #000000;
    border-radius: 0px 0px 0px 0px;
    box-sizing: border-box;
    background-color: #737373;
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed; 
    overflow: auto;
    z-index: 1;
    text-decoration: none;
    
  }

  #botoes{

    background: linear-gradient(to right, #1b1b1b, #161616, #030303, #000000);

  }
 
  #botao_login{

      background-color: #2f312f;
      border: 10px solid #000000;
      border-radius: 50px;
      color: #ffffff;
      padding: 7px 35px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      box-shadow: 0px 0px 10px #383838 inset;
      position: relative;
      top: 15;
      bottom: 0;
      left: 83%

  }

  #botao_login:hover {background-color: #1f1d1d}

  #botao_login:active {
    background-color: #1f1d1d;
    box-shadow: 0 5px #3a3a3a;
    transform: translateY(4px);

  }
    
  #botao_play{

      background-color: #2f312f;
      border: 10px solid #000000;
      border-radius: 30px;
      color: #ffffff;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      box-shadow: 0px 0px 10px #383838 inset;
      position: relative;
      top: 20%;
      left: -5%;
      bottom: 0;
      right: 0;

  }

  #botao_play:hover {background-color: #1f1d1d}

  #botao_play:active {
    background-color: #1f1d1d;
    box-shadow: 0 5px #3a3a3a;
    transform: translateY(4px);

  }

  #play_fundo{

    background-color:inherit;
    
  }

  #play_fundo:hover {background-color: inherit}

  #botao_pause{

      background-color: #2f312f;
      border: 10px solid #000000;
      border-radius: 30px;
      color: #ffffff;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      box-shadow: 0px 0px 10px #383838 inset;
      position: relative;
      top: 30%;
      left: -4%;
      bottom: 0;
      right: 0;

  }

  #botao_pause:hover {background-color: #1f1d1d}

  #botao_pause:active {
    background-color: #1f1d1d;
    box-shadow: 0 5px #3a3a3a;
    transform: translateY(4px);

  }

  #pause_fundo{

    background-color:inherit;
    
  }

  #pause_fundo:hover {background-color: inherit}

  #botao_stop{

      background-color: #2f312f;
      border: 10px solid #000000;
      border-radius: 30px;
      color: #ffffff;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      box-shadow: 0px 0px 10px #383838 inset;
      position: relative;
      top: 30%;
      left: -3%;
      bottom: 0;
      right: 0;

  }

  #botao_stop:hover {background-color: #1f1d1d}

  #botao_stop:active {
    background-color: #1f1d1d;
    box-shadow: 0 5px #3a3a3a;
    transform: translateY(4px);

  }

  #stop_fundo{

    background-color: inherit;
    
  }

  #stop_fundo:hover {background-color: inherit;}

  /* Fim do cabeçalho */

  /* Piano */

 
  #piano {

    background-color: #d8d8d8;
    height: 2641px; 
    overflow: hidden;
    position: relative;
    border: solid 1px #000000; 
    text-align: right;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 140px;
    margin-bottom: 15%;
  }

  .tecla_branca {

    font-size: 11px;
    width: 100px;
    height: 30px;
    background: linear-gradient(to right, #9b9b9b, #f2f2f2, #dbdbdb, #eaeaea);
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 40px;
    padding-right: 5px;
  
    z-index: 5;
    cursor: pointer;
    border: solid 1px #000000;
    
  }

  .tecla_branca:hover {
    
    background-color: #ececec;

  }

  .texto_teclaB {

    background-color: inherit;
    
  }

  .texto_teclaB:hover {

    background-color: inherit;
    
  }

  .tecla_preta {

    font-size: 11px;
    width: 100px;
    height: 30px;
    background: linear-gradient(to right, #1b1b1b, #161616, #030303, #000000);
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 40px;
    padding-right: 5px;
  
    z-index: 5;
    cursor: pointer;
    border: solid 1px #000000;
    
  }

  .tecla_preta:hover {
    
    background-color: #1a1a1a;

  }

  .texto_teclaP {

  background-color: inherit;

  }

  .texto_teclaP:hover {

    background-color: inherit;
    
  }


  /* Fim do piano */

  /* Piano roll */


  .switch {
    position: relative;
    display: inline-block;
  
    width: 45px;
    height: 30px;
  
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border: solid 1px #000000; 
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #e00606;
    border: solid 1px #000000; 
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .piano_roll {

    background-color: #fffefe;
    height: 2640px; 
    position: absolute;
    border: solid 1px #000000; 
    text-align: right;
    top: 140px;
    left: 100px;
    right: 0;
    bottom: 0;
    margin-bottom: 15%;
  }


  
  /* Fim do piano roll */



  /* Rodapé */

  #rodape {
    
    
    width: 100%;
    height: 32%;
    border: 0px solid #000000;
    border-radius: 0px 0px 0px 0px;
    position: fixed;
    display: flex;
    align-items: flex-end;
    background: linear-gradient(to right, #1b1b1b, #161616, #030303, #000000);
    box-sizing: border-box;
    list-style-type: none;
    top: 750px;
    left: 0;
    bottom: 0;
    right: 0;

     /*
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 70%;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    z-index: 1;
    text-decoration: none;
    */
  
  }

  #area_sugestoes {

    background: linear-gradient(to right, #1b1b1b, #161616, #030303, #000000);
    height: 310px;
    width: 400px;
  
  }

  #titulo_sugestao {

    background: linear-gradient(to right, #1b1b1b, #161616, #030303, #000000);
    text-align: center;
    color: #ffffff;
    

  }

  hr.linha_sugestao{
    border: 4px solid;
  }

  .linha_vertical{
    border-left: 6px;
    height: 500px;
    position: absolute;
    left: 400px;
    margin-left: -3px;
    top: 0;
  }

  #sugestao1 {

    background-color: #E23C52;
    border: 10px solid #000000;
    border-radius: 15px;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0px 0px 10px #383838 inset;
    position: relative;
    top: 50px;
    left: 1%;
    bottom: 0;
    right: 0;
    

  }

  #sugestao1:hover {background-color: #ff415a}

  #sugestao1:active {
    background-color: #ff415a;
    box-shadow: 0 5px #3a3a3a;
    transform: translateY(4px);

  }

  #sugestao2 {

    background-color: #E23C52;
    border: 10px solid #000000;
    border-radius: 15px;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0px 0px 10px #383838 inset;
    position: relative;
    top: 50px;
    left: 6%;
    bottom: 0;
    right: 0;

  }

  #sugestao2:hover {background-color: #ff415a}

  #sugestao2:active {
    background-color: #ff415a;
    box-shadow: 0 5px #3a3a3a;
    transform: translateY(4px);

  }


  #sugestao3 {

    background-color: #E23C52;
    border: 10px solid #000000;
    border-radius: 15px;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0px 0px 10px #383838 inset;
    position: relative;
    top: 50px;
    left: 11%;
    bottom: 0;
    right: 0;

  }

  #sugestao3:hover {background-color: #ff415a}

  #sugestao3:active {
    background-color: #ff415a;
    box-shadow: 0 5px #3a3a3a;
    transform: translateY(4px);

  }
  
  
   



   /* Fim do rodapé */

  